MailClient/Connected Services/MailService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SendMail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="IService1_SendMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInboxMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInboxMessages" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInboxMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInboxMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSentMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSentMessages" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSentMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSentMessagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SendMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SendMail" message="tns:IService1_SendMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendMailResponse" message="tns:IService1_SendMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInboxMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetInboxMessages" message="tns:IService1_GetInboxMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetInboxMessagesResponse" message="tns:IService1_GetInboxMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSentMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSentMessages" message="tns:IService1_GetSentMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSentMessagesResponse" message="tns:IService1_GetSentMessages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMail">
      <soap:operation soapAction="http://tempuri.org/IService1/SendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInboxMessages">
      <soap:operation soapAction="http://tempuri.org/IService1/GetInboxMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSentMessages">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSentMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MailService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>